<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Index</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1 class="view">Handlebars</h1>
        <ul class="view">
            {{#each users as |user|}}
            <li><a href="/{{user.nickname}}">{{user.name}}</a></li>
            {{/each}}
        </ul>
        <div class="pic view">
            <p>
                <a href="#" onclick="creat()">New user</a>
            </p>
        </div>

        <h1 class="creat">New user</h1>
        <dl class="creat">
            <dt>Name</dt>
            <dd><input id="name" type="text" value=""></dd>
            <br>
            <dt>Age</dt>
            <dd><input id="age" type="number" value=""></dd>
            <br>
            <dt>Address</dt>
            <dd><input id="address" type="text" value=""></dd>
            <br>
            <dt>Favorite fruit</dt>
            <dd><input id="fruit" type="text" value=""></dd>
            <br>
            <dt></dt>
            <dd>
                <input type="submit" value="Save" onclick="save()">
                <input type="submit" value="Cancel" onclick="cancel()">
            </dd>
        </dl>

        <script>
            function creat() {
                [...document.querySelectorAll('.view')].forEach(el => el.style.display = 'none');
                [...document.querySelectorAll('.creat')].forEach(el => el.style.display = '');
            }

            function cancel() {
                [...document.querySelectorAll('.view')].forEach(el => el.style.display = '');
                [...document.querySelectorAll('.creat')].forEach(el => el.style.display = 'none');
            }

            function save() {
                fetch('/creat', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: document.querySelectorAll('#name')[0].value,
                        age: document.querySelectorAll('#age')[0].value,
                        address: document.querySelectorAll('#address')[0].value,
                        fruit: document.querySelectorAll('#fruit')[0].value
                    })
                }).then((response) => {
                    cancel();
                    location.reload();
                })
            }

            cancel()
        </script>
    </body>
</html>
